---
import "../base.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>News Summary</title>
  </head>

  <body class="overflow-hidden mx-auto"> </body>
</html>
