@font-face {
  font-family: "Dinish";
  src: url("/fonts/Dinish-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

@layer base {
  html {
    font-family: Dinish, system-ui, sans-serif;
  }

  body {
    @apply text-white bg-slate-900;
  }
}
